* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 145px;
    background-color: #202C39;
    color: white;
    padding: 0 235px;
}

.footer-info-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
}

.footer-info-block h4 {
    font-size: 18px;
}

.footer-info-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-bottom {
    width: 100%;
    height: 60px;
    background-color: #D9D9D9;
    color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

@media (max-width: 1080px) {
    .logistic {
        display: none;
    }

    .footer-info {
        padding: 0 120px;
    }

    .footer-bottom {
        font-size: 18px;
    }
}

@media (max-width: 770px) {
    .types {
        display: none;
    }

    .footer-info {
        padding: 0 30px;
    }

    .footer-bottom {
        font-size: 16px;
    }
}

@media (max-width: 440px) {
    .services {
        display: none;
    }

    .footer-bottom {
        font-size: 14px;
    }
    .footer-info-block {
        font-size: 14px;
    }

    .footer-info-block h4 {
        font-size: 16px;
    }
}