* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contact-container {
    width: 100%;
    height: 163px;
    background-color: #202C39;
    padding: 0 235px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;

}

.contact-container-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 43%;
    height: fit-content;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.contact-container-title h1 {
    font-size: 26px;
}

.contact-container-form {
    width: 57%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.contact-container-form-inputdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    padding-left: 10px;
    height: 48px;
    width: 170px;
}

.contact-container-form-inputdiv-submit {
    border: none;
    height: 48px;
    width: 170px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #5C80BC;
    border-radius: 4px;
}

.contact-container-form-inputdiv-input {
    border: none;
    outline: none;
    width: 80%;
    font-size: 16px;
    color: #545454;
}

.tariff-container {
    width: 100%;
    background-color: #E2E2E2;
    padding: 65px 235px;
    overflow-x: auto;
}

.tariff-container h2 {
    color: #545454;
    font-size: 26px;
    font-weight: bold;
}

.tariff-container-warn {
    color: #E40606;
    font-size: 18px;
    margin-top: 20px;
}

.tariff-container-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24%, 1fr));
    min-width: 180px;
    gap: 1px;
    margin-top: 20px;
}

.tariff-container-blocks-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 156px;
}

.tariff-container-blocks-block-header {
    background-color: #5C80BC;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.tariff-container-blocks-block-info {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 131px;
    gap: 5px;
    font-size: 16px;
    color: #545454;
    text-align: center;
}

.tariff-container-blocks-block-price {
    background-color: #ffffff;
    width: 100%;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #545454;
    text-align: center;
    margin-top: 1px;
}

.info-container {
    width: 100%;
    height: 208px;
    background-color: #ffffff;
    color: #545454;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0 235px;
}

.info-container h2{
    font-size: 26px;
}

.info-container-text {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 1130px) {

    .tariff-container-blocks {
        grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    }
    .contact-container {
        width: 100%;
        height: 208px;
        padding: 43px 113px;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }
    .contact-container-title {
        width: 100%;
    }

    .contact-container-form{
        width: 100%;
    }

    .contact-container-title h1 {
        font-size: 22px;
    }

    .tariff-container {
        padding: 50px 175px;
    }
    .tariff-container-warn {
        text-align: center;
        font-size: 16px;
    }
    .tariff-container h2{
        font-size: 22px;
        text-align: center;
    }

    .info-container{
        font-size: 16px;
        padding: 0 122px;
        height: 174px;
    }

    .info-container h2{
        font-size: 22px;
    }
}

@media (max-width: 760px) {
    .contact-container{
        width: 100%;
        height: 417px;
        padding: 0 120px;
    }
    .contact-container-form {
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }

    .contact-container-form-inputdiv {
        width: 100%;
    }
    
    .contact-container-form-inputdiv-submit {
        width: 100%;
    }
    .tariff-container-blocks {
        grid-template-columns: repeat(auto-fill, minmax(98%, 1fr));
    }
}

@media (max-width: 580px) {
    .contact-container-title {
        text-align: center;
        font-size: 14px;
    }
    
    .contact-container-title h1 {
        font-size: 18px;
    }
    
    .contact-container{
        padding: 0 32px;
    }
    .tariff-container {
        padding: 50px 74px;
    }
    .tariff-container h2 {
        font-size: 18px;
    }
    .info-container{
        padding: 0 38px;
        font-size: 14px;
    }
    .info-container h2{
        font-size: 18px;
    }
    .info-container-text{
        font-size: 14px;
    }

}
@media (max-width: 400px) {
    .tariff-container {
        padding: 50px 30px;
    }
}
